.lesson-panel {
    background: #3b4cc0;
    padding: 40px;
    text-align: center;
    color: white;
    min-height: 300px;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

#lesson-number {
    font-size: 46px;
    color: yellow;
    margin-bottom: 20px;
}

#lesson-text {
    font-size: 26px;
}
