#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#main-container {
    width: 100%;
    max-width: 1400px;
    text-align: center;
}

#header-img {
    width: 100%;
    margin-bottom: 10px;
}

#content-container {
    display: flex;
    gap: 20px;
}

#left-ads {
    width: 180px;
}

#center-panel {
    flex: 1;
    background: #3b4cc0;
    padding: 25px;

    cursor: pointer;
    transition: 0.15s;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#center-panel:hover {
    transform: scale(1.01);
}



#right-panel {
    width: 240px;
}

#button-img {
    cursor: pointer;
    transition: 0.15s;
    width: 220px;
}

#button-img:hover {
    transform: scale(1.05);
}

#lesson-prompt {
    font-size: 26px;
    color: white;
    margin: 30px 0;
}

.caution-rule {
    height: 8px;
    width: 100%;
    background: repeating-linear-gradient(
        45deg,
        yellow,
        yellow 10px,
        black 10px,
        black 20px
    );
    margin: 15px 0;
}

#fire-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;

    background-image: url("/fire.gif");

    background-repeat: repeat-x;   
    background-size: auto 90px;   
    background-position: bottom;
}
