body {
    margin: 0;
    background: black;
    background-image: url("/space-bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
}
